<section class="flex px-4 py-8 mx-3">
  <aside class="flex flex-wrap w-1/3 px-8 space-y-6" style="background-color: red;">
    <h1 class="mx-auto text-3xl"><strong>Desarrollador</strong></h1>
    <p class="text-justify text-xl">El proyecto fue desarrollado por <em>Edwin Andrés Samboní Ortiz</em>, estudiante de
      la Universidad del Cauca dentro del programa de <strong><em>Ingeniería Electrónica y
          Telecomunicaciones</em></strong>. La idea original del proyecto es perteneciente a <em>Javier Alexander
        Hurtado Guaca</em> docente de la misma universidad y quien dirige la primer mitad de la asignatura
      "<em>Desarrollo de Aplicaciones Web</em>" (ApliWeb).</p>
  </aside>
  <main class="h-full flex flex-wrap w-2/3 px-8 space-y-6" style="background-color: blue;">
    <h1 class="mx-auto text-3xl"><strong>Objetivo Principal</strong></h1>
    <p class="text-justify text-xl">El proyecto busca replicar de manera correcta lo visto en clase con respecto a la
      utilización de Angular en su versión 17, utilizando <em>Tailwind</em> como framework de las hojas de estilo.</p>
    <h2 class="mx-auto text-2xl"><strong>Objetivos Específicos</strong></h2>
    <ul class="list-disc">
      <li class="text-xl">Utilización de formularios reactivos.</li>
      <li class="text-xl">Consumo de la API <em>r/SpaceX</em>.</li>
      <li class="text-xl">Presentación de los cohetes, producto del consumo de la API.</li>
      <li class="text-xl">Diseño adaptativo de la interfaz gráfica.</li>
    </ul>
  </main>
</section>